.about {
    margin-top: 8rem;
}

.about-img img {
    width: 100%;
}

.about-content {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-bg {
    background-color: #000;
    color: #fff;
    padding: 2rem 0;
}

.about-bg__title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.item-container {
    display: flex;
    justify-content: flex-start;
}

.item-container i {
    font-size: 4rem;
    color: var(--color);
    padding-right: 1rem;
}

.item-content {
    display: flex;
    flex-direction: column;
}

.item-title {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.item-desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2;
}

.connect {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: #fff;
    width: 55%;
    text-align: center;
    padding: 6rem 0;
}

.connect-title {
    font-size: 3rem;
    font-weight: 500;
}

.connect-desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 2rem 0;
}

.connect-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 2rem;
    background: #ff5421;
    color: #fff;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    text-transform: capitalize;
    width: 20%;
}